{{ partial "global-header.html" . }}
<!-- Service Flue-stack Start -->

<div class="container">    
    <div class="row">&nbsp;
        <div class="col-sm-12">
            <h1>Remotely Piloted Aerial Surveys (RPAS) “Drone Surveys”</h1>
        </div>
    </div>&nbsp;
    <div class="row">
        <div class="col-sm-9">
          <p>ATMECO deliver RPAS surveys across a wide range of industries including Oil &amp; Gas Production facilities (onshore and offshore) , Utility distribution networks (Gas pipelines), Wastewater treatment facilities (Anaerobic digesters &amp; aeration ponds), Water infrastructure (Catchments, rivers &amp; pipelines).</p>
        
          <p>We have regulatory approvals and insurances to conduct day or night missions within line of sight or beyond visual line of sight.(subject to area specific CASA approvals).</p>
        
           <p>We generate qualitative &amp; quantitative asset condition data from infrastructure normally inaccessible, very costly or unsafe to reach by conventional means (scaffold, crane or boat).</p>
        
           <p>We deploy non-contact multi-spectral NDT scanning sensors across the visible and infra-red light spectrum to reveal asset condition data normally not seen.We locate &ldquo;see&rdquo; hydrocarbon emissions by flying optical gas imaging sensors near or over process assets that normally cant be reached due to height or long distances. (Pipe racks, Tanks, Columns, Pipelines, Roads, etc..)</p>
        
           <p>We document hydrocarbon gas leak location and quantification data for process integrity, safety and environmental compliance programs.</p>
        
           <p>We deliver high definition digital video and photomosaic imagery to document variances and assist with maintenance work scope planning.</p>
        
           <p>We provide secure internet access to asset condition data enabling coordinated condition risk assessment and repair action prioritisation with input from vested parties dispersed across a range of geographic locations.</p>
        
           <p>Our fixed wing and multi-rotor RPAS platforms (Drones) are multi sensor survey platforms that can substantially reduce survey costs by capturing multiple data sets for a range of end users from one mission.</p>
        
           <p>We can survey a large number of potential leak sources (targets) over a wide area of plant very quickly, cost effectively and safely.</p>
        
           <p>We safely and cost effectively collect and efficiently distribute critical asset condition information that serve a range of end users.</p>
         
           <p>Our RPAS sensor operators have years of experience performing leak risk management surveys on major hazard facilities in the oil and gas industry.</p>
        
           <p>Our RPAS pilots have years of experience flying safely in demanding environments (commercial airline operations, offshore oil &amp; gas helicopter operations, high-end commercial audio visual productions).</p>
        
           <p>This unique combination of sensor operator and pilot experience coupled with our third party endorsed integrated safety management systems enable compliance with Civil Aviation Safety Authority CASA requirements and a range of oil &amp; gas industry risk management requirements. (ISO9001, AS/NZ 4801, ISO14001, CASA, ISN, Achilles, BOSIET, HUET, and Client specific accreditations)</p>
        
           <p>Our survey sensors, data synthesis and reporting systems provide clients with an unmatched survey data capture, management and reporting resource.</p>
        
          <ul>
            <li>We can integrate client specific sensors in addition to our current range of payloads that include;</li>
            <li>Optical Gas (Hydrocarbon) Imaging systems (Cooled Medium Wave Infrared scanners)</li>
            <li>Hydrogen (H2) and Helium (He) gas detection and quantification</li>
            <li>Methane Leak detection and quantification (Laser absorption spectroscopy sensor)</li>
            <li>Short wave infra Red (uncooled) thermal imaging</li>
            <li>High frequency (20kHz -100kHz) ultrasound airborne scanners</li>
            <li>High resolution (RAW, 4K,1080P) geo-tagged video, DSLR still photography &amp; streamed photomosaic.</li>
            <li>Photo Ionisation Detection (PID) based VOC detection and quantification</li>
            <li>Encrypted data links between the RPAs sensors and ground control station operators</li>
            <li>Secure uninterrupted communication between the UAV platform pilot, the sensor operator, client operations personnel and other airspace users.</li>
          </ul>
        </div>
        <div class="col-sm-3">
            <img src="{{ $.Site.BaseURL }}img/about_us/UAVlogo.jpg" alt="" class="img-responsive img-rounded"/>
            <img src="{{ $.Site.BaseURL }}img/about_us/Montage2.png" alt="" class="img-responsive img-rounded"/>
            <img src="{{ $.Site.BaseURL }}img/about_us/Flare_Stack_Cap.png" alt="" class="img-responsive img-rounded"/>
            <img src="{{ $.Site.BaseURL }}img/about_us/pipeline_easement_scanning.png" alt="" class="img-responsive img-rounded"/>
            <img src="{{ $.Site.BaseURL }}img/about_us/Home _pageslider2.png" alt="" class="img-responsive img-rounded"/>
        </div>
    </div>
</div>&nbsp;
&nbsp;
        