{{ partial "global-header.html" . }}
<!-- Service Flue-stack Start -->
<div class="container">
    <div class="row">&nbsp;
      <div class="col-sm-12">
        <h1>A 360 Degree-3D view of your flue stack (Inside & Outside)</h1>
      </div>
    </div>&nbsp;
    <div class="row">
        <div class="col-sm-8">
          <p>ATMECO Fluid Motion conducts hazardous area asset integrity surveys. We deploy innovative Remote Piloted Areal Survey (RPAS) technologies to reduce or eliminate Health Safety and Environmental risks.<br>
            We survey difficult to reach process assets. We deliver qualitative and quantitative asset condition information safely and cost effectively</p>
          <p>Our interactive survey reports provide context when inspecting flue stack internals.<br>
            High-resolution 3-D imagery provides a qualitative assessment of refractory condition in any direction along the vertical survey path.<br>
            Digital surface modelling enables quantitative condition assessments and measurements along the survey path.</p>
          <p>Flue stack survey condition reports include marked-up high-resolution stills, 2-D Video, 3-D Video or digital reality models.<br>
            We configure RPAS technology and methodology combinations to  cater for different flue stack lip designs, stack diameters and stack heights.
            Imaging systems are either positioned on the flue stack lip or suspended above the lip.<br>
            On-board 2-D & 3-D video is recorded and live-streamed from the inside of the stack back to the asset inspector on the ground.<br>
            On-board lighting provides uniform illumination in all directions for typically dark flue stack internals.<br>
            Integrated “drop distance display” enables accurate cross-referencing of points of interest relative to the flue stack lip.</p>
          <p>Secure control is via an encrypted digital interface between the on-board sensors, the RPAS pilot and camera operator asset inspector.<br>Survey grade differential global satellite navigation systems enable accurate and repeatable positioning above or on top of the flue stack lip.<br>We develop site-specific risk mitigation strategies. We comply with oil & gas remote piloted aerial survey procedures, maintain all necessary insurances and quality assurance accreditations.</p>
          <p>The same 360 degree-3D imaging technology can also be manually positioned on top of vertical structures (man-ways, flanges) to perform confined space inspections and eliminate the need for confined space entry.
            <br>Please contact us to discuss how our Flue-Stack-360 degree 3D survey service can eliminate your confined space or rope access risks.
          </p>
        </div>
        <div class="col-sm-4">
             <img src="{{ $.Site.BaseURL }}img/RPAS/fluestack2.png" alt="" class="img-responsive img-rounded"/><br>
             <img src="{{ $.Site.BaseURL }}img/RPAS/fluestack1.png" alt="" class="img-responsive img-rounded"/><br>
             <img src="{{ $.Site.BaseURL }}img/RPAS/fluestack3.png" alt="" class="img-responsive img-rounded"/>
        </div>
    </div>
    <p class="center-text" style="padding: 30px;">
        <a class="btn btn-main" href="{{ $.Site.BaseURL }}services/">Back to RPAS services</a>
    </p>
</div>