{{ partial "global-header.html" . }}
<!-- Service Flare-stack Start -->-
<div class="container">
    <div class="row">&nbsp;
        <div class="col-sm-12">
            <h1>Mechanical integrity &amp; Methane emissions surveys Remote Piloted Aerial Survey (RPAS) Platforms - “Drones”</h1>
        </div>
    </div>&nbsp;
    <div class="row">
        <div class="col-sm-5 col-article-left"><img src="{{ $.Site.BaseURL }}img/RPAS/Shep-HRAL.jpeg" alt="Shep HRAL" class="img-responsive img-rounded" /></div>
        <div class="col-sm-7">
            <p>Anaerobic reactors, sludge drying areas, treatment ponds, landfills and a range of other facilities where microbial and bio-chemical actions are used to breakdown and degrade organic substances can be major sources of hydrocarbon emissions to atmosphere.</p>
            <p>Methane is the most common gas produced but often be accompanied by more odorous sulphurous gases that can be a nuisance and/or a health hazard, often affecting neighborhood amenity.</p>
            <p>Methane and related emissions are often recovered and either burned (via a flare stack) or used to generate electricity as part of a facility’s energy re-use / re-cycle cogeneration program.</p>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-sm-6 col-article-left">
            <p>ATMECO FluidMotion RPAS surveys deploy remote piloted aerial survey (RPAS) technologies that enable fast, efficient, safe and cost effective biogas emission detection and quantification and mechanical integrity inspections of biogas reactor and anaerobic digesters covers.</p>
            <p><strong>A key deliverable from this service is optical gas imaging video footage showing the exact location and relative intensity of any methane emissions from all leak points on the cover joints and seams.</strong></p>
        </div>
        <div class="col-sm-4"><img src="{{ $.Site.BaseURL }}img/RPAS/Kraken_Gas.jpeg" alt="3d graph" class="img-responsive img-rounded" /></div>
    </div>
    <div class="row top-buffer">
        <div class="col-sm-6 col-article-left">
          <p><strong>See RPAS Sample Video Below</strong></p>
          <div id="myElement1">
                <script type="text/JavaScript">
                    var playerInstance = jwplayer("myElement1");
                    playerInstance.setup({
                       width: "100%",
                       image: "https://webvideos.atmeco.com/videos/hls_hd/rpas_promo_biogas.jpg",
                       file: "https://webvideos.atmeco.com/videos/dash/rpas_promo_biogas/445012.m3u8"
                    });
                </script>
        </div>
    </div>
        <div class="col-sm-6">
          <p>&nbsp;</p>
          <p>Sensing technologies fitted to the ATMECO FluidMotion RPAS platform include;</p>
          <ul>
            <li>Optical Gas Imaging (OGI) system to locate and document biogas (Methane) emissions</li>
            <li>High Definition 4K video imaging system for photogrammetry measurements of structural elements (Cover tears)</li>
            <li>Radiometric Thermal Imaging system to inspect flare stack refractory integrity &amp; thermal efficiency</li>
          </ul>
          <p>Customized survey reports include detailed high definition optical gas imaging videos of biogas (Methane) emissions with accurate geo-referenced leak locations and dimensions of structural integrity deviation mark-ups, on a scaled plot plan to allow repairs and effective follow-up (post repair) re-inspections.</p>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-sm-3 col-article-left"><img src="{{ $.Site.BaseURL }}img/RPAS/shep11-thermal.jpg" alt="" class="img-responsive img-rounded" style="max-height: 210px;" /></div>
        <div class="col-sm-3"><img src="{{ $.Site.BaseURL }}img/RPAS/Shep11.jpeg" alt="Shep11" class="img-responsive img-rounded" style="max-height: 210px;" /></div>
        <div class="col-sm-5"><img src="{{ $.Site.BaseURL }}img/RPAS/3dgraph.jpg" alt="3d graph" class="img-responsive img-rounded" style="max-height: 210px;" /></div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-article-left top-buffer">
          <p>ATMECO FluidMotion RPAS survey methodologies and technologies enable safe, cost effective, accurate defect analysis and repeat inspection and of anaerobic reactors, sludge drying areas, treatment ponds, landfills and facilities where microbial and bio-chemical actions generate hydrocarbon emissions to atmosphere.</p>
        </div>
    </div>
    <p class="center-text" style="padding: 30px;">
        <a class="btn btn-main" href="{{ $.Site.BaseURL }}services/">Back to RPAS services</a>
    </p>
</div>