<!-- Slider Start -->

<section id="slider">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="block text-center">
                    <h1 class="animated fadeInUp text-uppercase">{{ .Site.Params.slider.title | safeHTML }}</h1>
                    <p class="animated fadeInUp">{{ .Site.Params.slider.subtitle | safeHTML }}</p>
                </div>
                <div class="sliderbtn">
                    <p class="center-text" style="padding: 30px;">
                      <a class="btn btn-main" href="https://videos.atmeco.com" target="Blank">View RPAS Service Videos</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>